<template>
  <div>
    <section
      id="intro"
      class="main-row"
    >
      <b-container>
        <b-row>
          <b-col
            md="10"
            lg="8"
          >
            <h1>Framaforms</h1>
            <h2>
              Concevez vos enquêtes en ligne facilement
              <br />
              tout en respectant votre public
            </h2>
            <p class="buttons">
              <!-- not logged in -->
              <a
                class="btn btn-lg btn-primary"
                :href="`${$t('link.forms')}/user/register`"
              >
                S’inscrire
              </a>
              <!-- logged in -->
              <a
                class="btn btn-lg btn-primary d-none"
                :href="`${$t('link.forms')}/node/add/form1`"
              >
                Créer un nouveau formulaire
              </a>
              <br />
              <a
                class="d-none"
                :href="`${$t('link.forms')}/templates`"
              >
                Cloner un modèle
              </a>
              <a
                class="btn btn-lg btn-outline-light "
                :href="`${$t('link.forms')}/fonctionnalite`"
              >
                <svg-icon
                  label="Visite guidée"
                  name="play-circle"
                />
              </a>
            </p>
          </b-col>
        </b-row>
        <b-row>
          <p class="text-center mx-auto">
            En savoir plus sur Framaforms
            <svg-icon
              name="chevron-down"
              variant="d-block fc-d1"
            />
          </p>
        </b-row>
      </b-container>
    </section>
    <section id="what">
      <b-container>
        <b-row>
          <b-col>
            <h2>Prise en main</h2>
            <b-tabs
              align="center"
              card
              pills
            >
              <b-tab
                title="Simplicité"
                active
              >
                <b-row>
                  <b-col md="6">
                    <!-- web-screen -->
                    <div class="web-browser">
                      <div class="toolbar">
                        <img
                          alt=""
                          :src="`${$t('baseurl')}img/browser-left.png`"
                        />
                        <div class="search-bar"></div>
                        <img
                          alt=""
                          :src="`${$t('baseurl')}img/browser-right.png`"
                        />
                      </div>
                      <img
                        alt=""
                        class="img-fluid"
                        :src="`${$t('baseurl')}img/screens/1.png`"
                      />
                    </div>
                  </b-col>
                  <b-col
                    class="px-4"
                    md="6"
                  >
                    <h3>
                      Création de formulaires simple et rapide.
                    </h3>
                    <p>
                      Créez vos formulaires par simple glisser-déposer.
                      Le grand nombre de champs disponibles permet de créer des
                      formulaires couvrant un large éventail de besoins.
                    </p>
                  </b-col>
                </b-row>
              </b-tab>
              <b-tab title="Partage">
                <b-row>
                  <b-col
                    class="px-4"
                    md="6"
                  >
                    <h3>Partagez vos formulaires.</h3>
                    <p>
                      Une fois votre formulaire publié, vous pourrez le partager par
                      email ou sur les réseaux sociaux.
                      Vous pourrez même l'embarquer sur votre site web et autoriser
                      son clonage afin de permettre à d'autres de gagner un temps précieux.
                    </p>
                  </b-col>

                  <b-col md="6">
                    <!-- web-screen -->
                    <div class="web-browser">
                      <div class="toolbar">
                        <img
                          alt=""
                          :src="`${$t('baseurl')}img/browser-left.png`"
                        />
                        <div class="search-bar"></div>
                        <img
                          alt=""
                          :src="`${$t('baseurl')}img/browser-right.png`"
                        />
                      </div>
                      <img
                        alt=""
                        class="img-fluid"
                        :src="`${$t('baseurl')}img/screens/1.png`"
                      />
                    </div>
                  </b-col>
                </b-row>
              </b-tab>
              <b-tab title="Analyse">
                <b-row>
                  <b-col md="6">
                    <!-- web-screen -->
                    <div class="web-browser">
                      <div class="toolbar">
                        <img
                          alt=""
                          :src="`${$t('baseurl')}img/browser-left.png`"
                        />
                        <div class="search-bar"></div>
                        <img
                          alt=""
                          :src="`${$t('baseurl')}img/browser-right.png`"
                        />
                      </div>
                      <img
                        alt=""
                        class="img-fluid"
                        :src="`${$t('baseurl')}img/screens/1.png`"
                      />
                    </div>
                  </b-col>
                  <b-col
                    class="px-4"
                    md="6"
                  >
                    <h3>
                      Traitez vos résultats.
                    </h3>
                    <p>
                      Vous pourrez aisément accéder les réponses en ligne, les visualiser
                      sous forme de graphiques ou les exporter en vue de traitements
                      plus complexes.
                    </p>
                  </b-col>
                </b-row>
              </b-tab>
            </b-tabs>
          </b-col>
        </b-row>
      </b-container>
    </section>
    <section id="how">
      <b-container>
        <b-row>
          <b-col cols="12">
            <h2>Un outil émancipateur</h2>
          </b-col>
          <b-col md="4">
            <h3>
              <svg-icon
                name="brain"
                variant="circle fc-f7 fd-f6"
              />
              L’économie de votre attention
            </h3>
            <p>
              Framaforms est <strong>gratuit et sans publicité</strong>.<br />
              Notre seul objectif est de vous faire découvrir l’outil pour que
              vous puissiez vous l’approprier.
            </p>
            <p>
              Contrairement à l’adage, ici, <strong>vous n’êtes pas le produit</strong>.
            </p>
          </b-col>
          <b-col md="4">
            <h3>
              <svg-icon
                name="people-carry"
                variant="circle fc-v6 fd-v5"
              />
              Le contrôle de vos données
            </h3>
            <p>
              Framasoft n’analyse ni ne revend vos données.
            </p>
            <p>
              Vous en disposez <strong>en toute autonomie</strong>.
            </p>
            <p>
              À tout moment, vous pouvez les exporter pour les utiliser
              sur un autre service équivalent.
            </p>
          </b-col>
          <b-col md="4">
            <h3>
              <svg-icon
                name="copyleft"
                variant="circle fc-f7 fd-f6"
              />
              Le respect de vos libertés
            </h3>
            <p>
              Framaforms repose sur un logiciel libre¹.
              Son code est transparent, publiquement consultable
              et ne contient pas de fonctionnalité cachée.
            </p>
            <p>
              Il est construit de manière communautaire, et chacun·e est
              libre de le reprendre pour mener le projet vers de nouvelles voies.
            </p>
            <p>
              <small>¹ <a href="#">Yakforms</a> – Licence AGPL 2.0</small>
            </p>
          </b-col>
        </b-row>
      </b-container>
    </section>
    <section id="why">
      <b-container>
        <b-row>
          <b-col cols="12">
            <h2>Pourquoi proposer Framaforms&nbsp;?</h2>
          </b-col>
          <b-col md="4">
            <h3>
              <svg-icon
                name="lightbulb"
                variant="circle fc-f7 fd-f6"
              />
              Favoriser l’éducation populaire
            </h3>
            <p>
              Framasoft souhaite populariser l’émancipation numérique en
              direction du plus grand nombre, en contribuant à des outils concrets
              fait par et pour des personnes engagées dans l’éducation populaire.
            </p>
            <p>
              Par nos usages, nos retours et nos contributions à Yakforms,
              nous participons à entretenir la vivacité d’une ressource
              mise en commun.
            </p>
          </b-col>
          <b-col md="4">
            <h3>
              <!-- chatons / fediverse -->
              <svg-icon
                name="cat"
                variant="circle fc-j8 fd-j7"
              />
              Créer un écosystème résilient
            </h3>
            <p>
              Framasoft est un acteur parmi d’autres qui proposent des
              services en ligne éthiques.
            </p>
            <p>
              Pour aller plus loin, vous pouvez aussi chercher,
              près de chez vous, un hébergeur de confiance et local parmi
              les membres du Collectif d’Hébergeurs
              Alternatifs, Transparents, Ouverts, Neutres et Solidaires :
              <a href="https://chatons.org/">les CHATONS</a>&nbsp;!
            </p>
          </b-col>
          <b-col md="4">
            <h3>
              <svg-icon
                name="leaf"
                variant="circle fc-v6 fd-v5"
              />
              Encourager l’essaimage
            </h3>
            <p>
              En hébergeant une instance de Yakforms, vous maîtrisez totalement
              vos données et vos usages et vous participez à la décentralisation
              des services sur Internet.
            </p>
            <p>
              Pour vous aider à franchir le cap, vous trouverez&nbsp;:
            </p>
            <ul>
              <li>
                notre
                <a href="#">tutoriel d’aide à l’installation</a>
                sur framacloud.org
              </li>
              <li>
                un
                <a href="https://github.com/YunoHost-Apps/framaforms_ynh">
                  paquet pour une installation simplifiée
                </a>
                sur serveur YunoHost
              </li>
            </ul>
          </b-col>
        </b-row>
      </b-container>
    </section>
  </div>
</template>

<style lang="scss">
#intro {
  position: relative;
  padding: 1rem 0 3rem;
  filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, .3));
}

#intro::before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--f-f7);
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 83%,  100% 0);
  clip-path: polygon(0 0, 0 100%, 100% 83%,  100% 0);
}

#intro::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--f-f4) url(../../assets/img/intro.jpg) bottom no-repeat;
  background-size: cover;
  filter: brightness(.7);
  -webkit-clip-path: polygon(0 0,100% 0,100% 100%,0 88%);
  clip-path: polygon(0 0,100% 0,100% 100%,0 88%);
}

#intro .container {
  position: relative;
  z-index: 1;
}

#intro h1{
  color: #fff;
  /* font-family: Open Sans,sans-serif; */
  font-size: 5rem;
  font-weight: 300;
  margin: 5rem 0 3rem;
}

#intro h2 {
  color: #fff;
  /* font-family: Open Sans,sans-serif; */
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.25;
  margin: 0;
}

#intro p {
  color: #fff;
}

 #intro .buttons {
  display: inline-flex;
  align-items: flex-start;
  margin: 4rem auto 5.5rem
}

 #intro .buttons .btn {
  width: 13rem;
  margin: .25rem .75rem;
  padding: .75rem 1.25rem;
  text-transform: uppercase;
}

 #intro .buttons .btn:first-of-type {
   margin-left: 0;
 }

#intro .btn-outline-light {
  border: transparent;

  svg {
    margin-top: -.125rem;
    height: 1rem;
  }

  &:hover,
  &:focus {
    fill: var(--f-g7);
  }
}

#intro a:not(.btn) {
  color: #fff;
  font-size: 1rem;
  text-decoration: underline;
}

#app {
  background: #fff url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="600px" height="600px" viewBox="0 0 100 100"><path d="M5.5 12a3.5 3.5 0 100-7 3.5 3.5 0 000 7zM6 46a2 2 0 10.001-3.999A2 2 0 006 46zM31.5 8a2.5 2.5 0 000-5 2.5 2.5 0 000 5zm-3 30a2 2 0 10.001-3.999A2 2 0 0028.5 38zm16-10a2.5 2.5 0 000-5 2.5 2.5 0 000 5zM40 17.5a1 1 0 100-2 1 1 0 000 2zm-10 31a1 1 0 100-2 1 1 0 000 2zm-12.5-25a1 1 0 100-2 1 1 0 000 2zM77.53 24.742a3.5 3.5 0 100-7 3.5 3.5 0 000 7zm-21.5-3.5a1.5 1.5 0 100-3 1.5 1.5 0 000 3zm31.5 15.5a1.5 1.5 0 100-3 1.5 1.5 0 000 3zm-22.5 11.5a1.5 1.5 0 100-3 1.5 1.5 0 000 3zm28-38a1.5 1.5 0 100-3 1.5 1.5 0 000 3zm-25 3.5a2 2 0 100-4 2 2 0 000 4zm23 35.5a2.5 2.5 0 000-5 2.5 2.5 0 000 5zm-37-16a1 1 0 100-2 1 1 0 000 2zM29.5 74a3.5 3.5 0 100-7 3.5 3.5 0 000 7zM8 70.5a1.5 1.5 0 100-3 1.5 1.5 0 000 3zM39.5 86a1.5 1.5 0 100-3 1.5 1.5 0 000 3zM17 97.5a1.5 1.5 0 100-3 1.5 1.5 0 000 3zm28-38a1.5 1.5 0 100-3 1.5 1.5 0 000 3zM20 63a2 2 0 10.001-3.999A2 2 0 0020 63zm23 35.5a2.5 2.5 0 000-5 2.5 2.5 0 000 5zm-37-16a1 1 0 100-2 1 1 0 000 2zM77.53 74.242a3.5 3.5 0 100-7 3.5 3.5 0 000 7zm-12.5 23.5a1.5 1.5 0 100-3 1.5 1.5 0 000 3zm14.5-40a2.5 2.5 0 000-5 2.5 2.5 0 000 5zm-3 30a2 2 0 100-4 2 2 0 000 4zm14.5 11a2.5 2.5 0 000-5 2.5 2.5 0 000 5zm1.5-21a2.5 2.5 0 000-5 2.5 2.5 0 000 5zm-4.5-10.5a1 1 0 100-2 1 1 0 000 2zm-34 15.5a1 1 0 100-2 1 1 0 000 2z" fill="%23e2e8f0" fill-opacity=".3"/></svg>');
}

#how {
  background: var(--f-g2);
}
#how, #why {
  h3 {
    .circle {
      display: flex;
      margin: .5rem auto .75rem;
      border-width: .2rem;
    }
  }
}

#what, #why, #how {
  padding: 4rem;

  h2 {
    text-align: center;
    font-size: 3rem;
    line-height: 4rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }
}

#what {
  .card-header {
    border: none;
    background: transparent;
    padding: 0;

    .nav li {
      background: var(--f-g1);
      padding: 0.75rem 1.25rem;
    }
  }

  .card-body .row {
    align-items: center
  }

  h3 {
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: -1px;
    line-height: 1;
    margin: .5rem 0 1rem;
  }

  p {
    font-size: 1.35rem;
    font-weight: 200;
    line-height: 1.4;
  }
}

.web-browser {
  border: 2px solid var(--f-g2);
  border-radius: 4px;
  box-sizing: border-box;
  height: auto;
  margin: 1.5rem auto;
  max-width: 100%;
  padding: 42px 0px 0px;
  position: relative;
  text-align: center;
  max-width: 888px;

  .toolbar {
    background: var(--f-g1);
    border-bottom: 2px solid var(--f-g2);
    padding: 12px;
    padding-top: 9px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select :none;
    user-select: none;

    img {
      display: inline-block;
      vertical-align: middle;
    }

    .search-bar {
      background-color:  var(--f-g4);
      border-radius: 2px;
      display: inline-block;
      height: 20px;
      margin: 0 12px;
      width: calc(100% - 128px);
      vertical-align: middle;
    }
  }

  .actions {
    margin-bottom: 0;
  }

  .img-fluid {
    padding: 4px 2px 2px;
  }
}
</style>
