<template>
  <header id="header">
    <b-container>
      <b-row
        align-h="between"
        align-v="center"
      >
        <b-col md="5">
          <h1>
            <router-link
              :to="`/${$t('lang')}/`"
              v-html="$t('color.forms')"
            />
          </h1>
        </b-col>
        <b-col md="7">
          <b-nav
            class="float-right list-unstyled"
            pills
          >
            <b-nav-text>
              <a
                class="btn btn-outline-secondary text-uppercase mx-1"
                :href="`${$t('link.forms')}/user/register`"
              >
                S’inscrire
              </a>
            </b-nav-text>
            <b-nav-text>
              <a
                class="btn btn-success text-uppercase mx-1"
                :href="`${$t('link.forms')}/user`"
              >
                Se connecter
              </a>
            </b-nav-text>
            <b-nav-text
              class="nav-item"
              tag="li"
            >
              <I18n />
            </b-nav-text>
          </b-nav>
        </b-col>
      </b-row>
    </b-container>
  </header>
</template>

<script>
import I18n from 'vue-fs-commons/app/components/partials/I18n.vue';

export default {
  components: {
    I18n,
  },
};
</script>

<style lang="scss">
  #header {
    background: #fff;
    border-bottom: 1px solid var(--f-g4);

    h1 {
      margin: 0;
      line-height: normal;
      a {
        text-decoration: none;
      }
    }

    .btn {
      border: transparent;
    }
  }
</style>
